
header{
    background-color: "#fff" !important;
}

.ant-input-wrappper {
margin-bottom: 8;
 width: "50%"; 
 display: "inline-block"; 
margin-left: "auto";
 margin-right: "auto";
}
.table {
width: "95%";
margin-left: "auto";
margin-right: "auto";
}
.anticon-delete {
margin-left: 12;
color:"red";
}
.button {
float: "right";
 margin-right: "2.5%";
}
