.ant-menu-submenu-title:hover {
    color: rgb(141, 199, 235)!important;
    .ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
        background: red!important;
    }
}
.ant-menu-title-content:hover{
    color: rgb(141, 199, 235)!important;
}
.ant-menu-submenu-selected {
   .ant-menu-title-content {
        color: rgb(141, 199, 235)!important;
        background-color: #020034;
        color: rgb(161, 176, 186);
    }
  }
  .ant-menu-item-only-child {
    color: white!important;
    background-color: #020034!important;
  }
  .ant-menu-vertical {
    color: white!important;
    background-color: #020034!important;
  }