

@media (max-width: 768px) {
    .headerMenu {
        display: none;
    }
}
@media (min-width: 768px) {
    .menuIcon {
        display: none;
    }
    
    
}

.ant-drawer-header {
    background-color: #020034!important;
    svg {
        color: white!important;
        
    }
    .ant-drawer-close {
        margin-left: auto;
    }
}

.profiel:hover::after{
    border-bottom: none !important;
}
    
